.list-users-div {
  display: flex;
  display: column;
  justify-content: center;

}

.list-users-ul {
  border-radius: 12px;
  box-shadow: 0 0.1px 18px rgba(0, 0, 0, 1);;
  margin: 1rem;
  width: 100%;
  padding: .5rem;
}

.users-title {
  color: dodgerblue;
}
