.div-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1rem .5rem;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 0.1px 18px rgba(0, 0, 0, 1);
}

.form-label, .form-input, .form-button {
  width: 100%;
  font-size: larger;
  margin: .25rem 0;
  border-radius: 6px;
  padding: .5rem 0;
}

.form-label {
  color: dodgerblue;
  padding-left: 1.5rem;
}

.form-button {
  margin-top: 1rem;
  background: goldenrod;
  border-radius: 8px;
  border: 0;
  box-shadow: 0 0.1px 18px rgba(0, 0, 0, 1);
}

.form-input {
  box-shadow: 0 0.1px 18px rgba(0, 0, 0, 1);;
  padding-left: 1rem;
  width: 97%;
  border: none;
  border-radius: 8px;;
}

.form-input:hover {
  background-color: powderblue;
}
