@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Monoton&family=Press+Start+2P&display=swap');

* {
  margin: 0;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Monoton', cursive;
  font-family: 'Press Start 2P', cursive;
}

body{
  margin: 0;
  padding: 0;
}


